:root {
  --soft-cyan: hsl(174, 77%, 80%); /*(full slider bar) */
  --strong-cyan: hsl(174, 86%, 45%); /*(slider backround) */
  --light-grayish-red: hsl(14, 92%, 95%); /*discount background)*/
  --light-red: hsl(15, 100%, 70%); /*(discount text)*/
  --pale-blue: hsl(226, 100%, 87%); /*(cta text)*/
  --white: hsl (0, 0%, 100%); /*(pricing component background) */
  --very-pale-blue: hsl(230, 100%, 99%); /*(main background) */
  --light-grayish-blue: hsl(224, 65%, 95%); /* (empty slider bar)*/
  --light-grayish-blue: hsl(223, 50%, 87%); /* (toggle background) */
  --grayish-blue: hsl(225, 20%, 60%); /* (text)*/
  --dark-desaturated-blue: hsl(227, 35%, 25%); /* (text & cta background)*/
  --font-size: 15px; /*(Introductory Paragraph) */
  --ratio: 2.5;
}

html {
  box-sizing: border-box;
  margin: 0 auto;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--very-pale-blue);
  line-height: 2.2em;
  font-family: "Manrope", sans-serif;
  margin-top: 10em;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
}

.title {
  font-size: 1.35em;
  font-weight: 800;
}

.container > .subtitle {
  font-size: 0.85em;
  font-weight: 400;
  color: var(--dark-desaturated-blue);
}

.card {
  background-color: var(--very-pale-blue);
  border-radius: 5%;
  width: 435px;
  height: 270px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.card > .top-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.billing-switch {
  display: flex;
  align-items: center;
}

.billing-switch > div {
  margin: 0.4em;
}

.billing-switch > .tag {
  background-color: var(--light-grayish-red);
  color: var(--light-red);
  height: 2em;
  border: none;
  border-radius: 10px;
}

.switch {
  margin: 1em;
}

/************ SLIDE GAUGE  *******************/

.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
  justify-content: center;
}

/* The slider itself */
.gauge {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.gauge:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.gauge::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.gauge::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/************ END SLIDE GAUGE  *******************/

.additional-info {
  font-size: 0.8em;
  margin-top: 1em;
  margin-left: 5em;
}

.additional-info > .container {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

/************ SWITCH TOGGLE *******************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: calc(var(--ratio) * 1.25em);
  height: calc(var(--ratio) * 0.7em);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--ratio) * 0.55em);
  width: calc(var(--ratio) * 0.55em);
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(1.1em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/************ END SWITCH TOGGLE *******************/

.low-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.low-card > .content {
  line-height: 1.7em;
}

.low-card > .content > ul {
  font-size: 0.7em;
  color: var(--grayish-blue);
  weight: 800;
}

/***************** BUTTON ****************/

.btn {
  width: 30%;
  height: 2em;
  border: none;
  border-radius: 10px;
  border: 0px 3px 3px var(--bright-blue);
  background-color: transparent;
  font-family: "Red Hat Display", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  transition: all ease-in-out 0.2s;
}

.btn-confirm {
  background-color: var(--dark-desaturated-blue);
  color: #fff;
  box-shadow: 0px 15px 30px -15px var(--dark-desaturated-blue);
}

.btn-confirm:hover {
  cursor: pointer;
  color: #fff;
  opacity: 0.8;
}

.btn-cancel {
  color: var(--desaturated-blue);
}

.btn-cancel:hover {
  cursor: pointer;
  color: var(--dark-blue);
}

/*************** END BUTTON ********/

ul {
  list-style: none;
  padding-left: 0;
}
li {
  position: relative;
  padding-left: 1.5em; /* space to preserve indentation on wrap */
}
li:before {
  content: "✓"; /* placeholder for the SVG */
  position: absolute;
  left: 0; /* place the SVG at the start of the padding */
  width: 0.3em;
  height: 0.3em;
  background: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='18' height='18' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z'/></svg>")
    no-repeat;
}
/*** END OF TICK MARK ****/
