/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/* VARIABLES */

:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --dark-graymagenta: hsl(303, 10%, 53%);
  --light-graymagenta: hsl(300, 24%, 96%);
  --pink: hsl(333, 80%, 67%);
  --white: hsl(0, 0%, 100%);
  --fs-default: 15px;
  --f-default: "Spartan";
}

/* GENERIC */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--white);
  background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  height: 100%;
  width: 100%;
}

/* HERO */

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  font-family: var(--f-default);
  font-size: var(--fs-default);
  font-weight: 500;
  height: 100vh;
  width: 100vw;
  padding: 65px;
}

/* HERO INTRO */

.intro {
  padding: 65px;
}

.intro h2 {
  color: var(--dark-magenta);
  font-size: 3rem;
  margin-bottom: 10px;
}

.intro p {
  color: var(--dark-graymagenta);
  padding-right: 50px;
}

/* HERO RATINGS */

.hero-ratings {
  display: grid;
  grid-template-columns: repeat(10, 55px);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
  margin-top: 20px;
  padding: 65px;
  justify-self: end;
}

.rating {
  background-color: var(--light-graymagenta);
  border-radius: 10px;
  color: var(--dark-magenta);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.rating span:nth-child(2) {
  margin-left: 20px;
}

.rating:nth-child(1) {
  grid-column: 1 / span 8;
}

.rating:nth-child(2) {
  grid-column: 2 / span 8;
}

.rating:nth-child(3) {
  grid-column: 3 / span 8;
}

/* HERO FEEDBACK */

.hero-feedback {
  grid-column: 1 / -1;
}

.feedback-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 6px);
  grid-gap: 20px;
  padding-inline: 65px;
}

.feedback:nth-child(1) {
  grid-row: 1 / span 10;
}

.feedback:nth-child(2) {
  grid-row: 2 / span 10;
}

.feedback:nth-child(3) {
  grid-row: 3 / span 10;
}

.feedback-header {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  height: 48px;
}

.feedback-header img {
  border-radius: 100%;
  height: 48px;
  margin-right: 15px;
  width: 48px;

}

.n-s {
  padding: 5px;
}

.feedback {
  background-color: var(--dark-magenta);
  border-radius: 10px;
  padding: 30px;
}

.feedback p,
.name {
  color: var(--white);
}

.status {
  color: var(--pink);
  font-weight: 400;
  margin-top: 5px;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
  html,
  body {
    background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    height: auto;
    width: auto;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 25px;
    height: auto;
    width: auto;
  }

  .hero-intro,
  .hero-ratings,
  .feedback-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-block: 25px;
    padding-inline: 0;
  }

  .hero-ratings {
    margin-top: 0;
    width: 100%;
  }

  .rating {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .rating span:nth-child(2) {
    margin-top: 10px;
  }

  .intro {
    text-align: center;
    padding: 0;
  }

  .intro h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .intro p {
    padding-right: 0;
  }
}